* {
  font-family: Chakra Petch, sans-serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgb(19, 19, 19);
}
form {
  position: relative;
  display: flex;

  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: rgb(128, 255, 255);
}

input {
  width: 500px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;

  border: 0;
  font-size: 1rem;
  outline: none;
  background-color: rgb(34, 34, 34);
  color: rgba(183, 253, 253, 0.904);
}
input:focus {
  border-bottom: 1px solid rgb(128, 255, 255);
}

textarea {
  width: 500px;
  height: 250px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(34, 34, 34);
  outline: 0;
  color: rgba(183, 253, 253, 0.904);
}
textarea:focus {
  border: 1px solid rgb(128, 255, 255);
}

button {
  width: 180px;
  height: 45px;

  background: rgb(34, 34, 34);
  border: none;

  color: whitesmoke;
  font-size: 1.3rem;

  cursor: pointer;
}
button:hover {
  animation: hover 0.7s ease forwards;
}
@keyframes hover {
  0% {
    background: rgb(34, 34, 34);
    color: whitesmoke;
  }
  100% {
    background: rgb(128, 255, 255);
    color: rgb(0, 0, 0);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  form {
    gap: 1.5em;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  button:hover {
    animation: hoverMobile 0.3s ease forwards;
  }
  @keyframes hoverMobile {
    0% {
      background: rgb(34, 34, 34);
      color: whitesmoke;
    }
    50% {
      background: rgb(128, 255, 255);
      color: rgb(0, 0, 0);
    }
    100% {
      background: rgb(34, 34, 34);
      color: whitesmoke;
    }
  }
}
